<header class="site-header">
<div class="wrapper">
<nav class="site-nav">         
        <span class="menu-bar" onclick="openNav()">
            <svg id="i-menu" viewBox="0 0 32 32" width="28" height="28" fill="none" stroke="#eee" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
        </span>
</nav> 
<nav class="site-navr">         
        <span class="menu-bar" onclick="window.location.href='http://technoventor.in/'" >
           <i class="fa fa-shopping-cart my-float"></i>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style src="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"></style>

<style>

*{padding:0;margin:0;}

.float{

	position:fixed;

	width:60px;

	height:60px;

	bottom:40px;

	right:40px;

	background-color:#0C9;

	color:#FFF;

	border-radius:50px;

	text-align:center;

	box-shadow: 2px 2px 3px #999;

}



.my-float{

	margin-top:22px;

}

</style>
        </span>
</nav> 


<div class="profile">
<a href="{{site.baseurl}}/">
<img class="author-image" alt="site-title" src="{{site.baseurl}}/images/{{site.author.image}}">
</a>
<h1 class="author-about">{{site.author.name}}</h1>
</div>
<div class="menu-category">
<div class="menu-item"><a class="{% if page.url == '/design/' %}active{% endif %} menu-link" href="{{site.baseurl}}/design/">Design</a></div>
<div class="menu-item"><a class="{% if page.url == '/Electronic/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/Electronic/">Electronic</a></div>
<div class="menu-item"><a class="{% if page.url == '/project/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/project/">Project</a></div>
</div>
</div>
</header>

