---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
<header class="post-header">
<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

   <p class="post-metadata">
   <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
       <i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}
    </time>
    
    {% if page.author %}  &nbsp;&nbsp; 
    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><i class="fa fa-user" aria-hidden="true"></i> {{ page.author }}</span></span>{% endif %}

{% if page.categories %}  &nbsp;&nbsp; 
   <span><i class="fa fa-tag" aria-hidden="true"></i> {% assign tags = page.categories %}{% for tag in tags %}{{tag}}{% unless forloop.last %},&nbsp;{% endunless %}{% endfor %}</span>
{% endif %}


{% assign words = content | strip_html | number_of_words %}
 &nbsp;&nbsp; 
   <span><i class="fa fa-clock-o" aria-hidden="true"></i> 
{% if words < 360 %}
 1 min
{% else %}
  {{ words | divided_by:180 }} mins 
{% endif %}
</span>
</p>

</header>
<div class="post-content" itemprop="articleBody">{{ content }}</div>


{% if site.disqus-shortname %}

   <div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://atlchapterapp.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}  

  
                            
                            
                            
<br />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
